<div class="container-fluid m-p-0">
  <div style="margin-top: 58px;">
      <img class="banner" src="assets/images/about/AboutUs.jpg" alt="About Us UmaLoan">
  </div>
  <div class="container">
      <div class="row ">
          <div class="accordion" id="accordionUmaLoan">
              <div class="card">
                  <div class="card-head" id="headingOne">
                      <h2 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          ABOUT US
                      </h2>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionUmaLoan">
                      <div class="card-body">
                          <p>
                              Uma Loan is an organization established to affect positively the landscape of the online teaching and learning industry in India.
                          </p>
                          <p>
                              The main objective of the company is to promote online Education for academic as well as various competitive examinations. India and Indian Competitive Exams are one of the toughest exams in the world. The competitive Exams broadly classified into two
                              types- First is Entrance Test for Admission into various Streams like Engineering, Medical, MBA, M. Tech, Commerce, Law, Humanities, Polytechnic, ITI, etc. and Second is for Government jobs varies from IAS, IPS, IRS, Bank-PO,
                              IES, IFS, Railways, Class-B officers, etc.
                          </p>
                          <p>
                              The present Indian Education System is introduced by British and Lord Macaulay was the founder and introducer of this system during Colony Era. He drafted the Indian Education Policy and English Education Act 1935 had come in force with English as a language
                              of Instruction. This System is having many pros and cons and one major FLAW is it made learning only limited to formal and academic ways, which is based on ROTE Methodology and only Classroom Pedagogy. It vanishes unconventional
                              learning, self-learning, creativity, and curiosity to enquire at the third level of Children. Mainly three levels of Enquiry are needed to understand the very root cause of any concept and that is – WHAT, HOW & WHY. The
                              present Indian Education System stops Learning at a second level only means- What is…. & How it is…. It is not Boosting to ask the Question WHY IT IS…..
                          </p>
                          <p>
                              Formal and Academic Education has become the only way of learning and Certification has become only the Tools for Measurement but Human development, Children's Growth, and Learning are Very much more than that….
                          </p>
                          <p>
                              The Inspiration to establish Uma Loan is to make education beyond the books and how to use common sense, observation, very basic math skills, creativity to become a self-learner very fast and become addicted to learning various unconventional techniques
                              to become happy and successful in life. You will start to LEARN WHAT YOU LOVE!
                          </p>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <div class="card-head" id="headingTwo">
                      <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Preparation of Academic and Competitive Exams
                      </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionUmaLoan">
                      <div class="card-body">
                          <p>
                              The Academic Preparation mainly needed at Standard 9th, 10th Board Exam, 11th & 12th Board Exam. After 10th Board and Marks gained in that is the deciding factor to get admission in various streams like- PCM, PCB, PCMB, COMMERCE, etc. Similarly, 12th
                              Board Exam and Marks gained in that is one of the deciding factors but to get admission in IIT, NIT, AIIMS and other reputed colleges of Engineering, Medical, Commerce, Law & Humanities, and Students have to perform and
                              compete among the Millions of Students through ALL INDIA EXAMS related to various Streams. JEE is one of the toughest exams in the world and students had to compete or perform very well to get admission into Prestigious
                              and Premier Institute of IITs.
                          </p>
                          <p>
                              Similarly, to get admission in higher education various competitive All India Exams are conducted by various bodies. Out of these exams, CAT is the Toughest exam and it is toughest in the world also compare to other MBA Entrance Tests at the International
                              level or country level. CAT is the very biggest hurdle to take admission into Prestigious and Premier Institute of IIM’s. It is Aptitude based exam and understanding the Boundary and scope of Syllabus itself is a challenging.
                          </p>
                          <p>
                              The ultimate of knowledge will be tested and it is Litmus Test for Academic reading, understanding and memorizing the Facts through the Most Prestigious Exam of India conducted by UPSC and it will produce the backbone of India- IAS, IPS, IRS, etc. This
                              exam will test the students through 3 stages of Exam – Preliminary Test, Written or Mains Test and Personal Interview.
                          </p>
                          <p>
                              Uma Loan will make your path easy by means of various tools, techniques, observations and how to learn in a very unconventional way to compete and perform better than others in CAT, IIT-JEE, NEET, IAS, 10th Board Exam, 12th Board Exam, etc.
                          </p>
                          <p>
                              Uma Loan will follow the simple methodology of teaching and how to make you addicted to learning because learning is not only for pass the exam it is for life long purpose. How to become a very keen observer is the main tool to understand very natural
                              and fundamental things with clarity and without confusion. We give much attention and focus to students for learning beyond the conventional books, ROTE Techniques and how to become a self-learner.
                          </p>
                          <p>
                              Uma Loan is aimed at guiding its students through the myriad complexities of academic and competitive exam preparations and makes them enjoy the journey along with highly successful results.
                          </p>
                      </div>
                  </div>
              </div>

              <div class="card">
                  <div class="card-head" id="headingThree">
                      <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          NEED FOR ONLINE EDUCATION
                      </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionUmaLoan">
                      <div class="card-body">
                          <p>
                              India is very big, diverse in culture, various belief systems, and geography. It is rich in History but 1.3 Billion Population made it is a challenging task of Government, Private or Social Reformers to provide Good Education, True Learning and Personalised
                              Learning by Conventional way of Classroom Teaching. After 75 years of Independence still, India is average 65% only Literate and many parts of the country are below 50%. Illiteracy is the biggest hurdle or issue for the
                              growth of people and countries.
                          </p>
                          <p>
                              India is very big, diverse in culture, various belief systems, and geography. It is rich in History but 1.3 Billion Population made it is a challenging task of Government, Private or Social Reformers to provide Good Education, True Learning and Personalised
                              Learning by Conventional way of Classroom Teaching. After 75 years of Independence still, India is average 65% only Literate and many parts of the country are below 50%. Illiteracy is the biggest hurdle or issue for the
                              growth of people and countries.
                          </p>
                      </div>
                  </div>
              </div>

              <div class="card">
                  <div class="card-head" id="headingfour">
                      <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                          OBJECTIVE
                      </h2>
                  </div>
                  <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionUmaLoan">
                      <div class="card-body">
                          <p>
                              The main objective of the Uma Loan is to promote online preparatory teaching for academic as well as various competitive examinations. To achieve this core objective, the Uma Loan provides an online educational boutique where all the educational
                              products are available at a reasonable rate. We are providing the much-personalized learning and courses related to Math & Science for the 10th Board Exam, 12th Board Exam in the Academic preparation section. Together with
                              Academic Preparation, Uma Loan provides the Courses for almost every All India Competitive Exams like – IIT-JEE, CAT, IAS, NEET, etc. and few International Competitive Exams also like- GRE, GMAT, etc.
                          </p>
                      </div>
                  </div>
              </div>

              <div class="card">
                  <div class="card-head" id="heading5">
                      <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                          GOAL
                      </h2>
                  </div>
                  <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionUmaLoan">
                      <div class="card-body">
                          <p>
                              The GOAL of the Uma Loan is very crystal clear and we will provide the best way of learning and education in the Segment of Competitive Exams Preparation including the Academic preparation of 10th Board & 12th Board Exams. We, at Uma Loan, believe
                              that online education in India is at a very early stage and it has a huge potential for growth. Online education can become a PANACEA for many social problems in India. We are here to disrupt the conventional system of
                              learning and provide a very creative way of learning by means of video content, written content & powerful evaluation method. We are here to emerge as the best online platform for competitive exams preparation through well-researched
                              content, technology, student support, and personalized learning.
                          </p>
                      </div>
                  </div>
              </div>

              <div class="card">
                  <div class="card-head" id="heading5">
                      <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                          VISION OF Uma Loan
                      </h2>
                  </div>
                  <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionUmaLoan">
                      <div class="card-body">
                          <p>
                              The Vision of Uma Loan is to utilize and realize the full potential of Internet and Mobile Technologies to Reach Billions of Learners and Students to achieve a universal education system irrespective of geography and time.
                          </p>
                          <p>
                              The Vision of Uma Loan is to utilize and realize the full potential of Internet and Mobile Technologies to Reach Billions of Learners and Students to achieve a universal education system irrespective of geography and time.
                          </p>
                          <p>
                              To help the students to achieve their Dreams through TRUE LEARNING
                          </p>
                      </div>
                  </div>
              </div>

              <div class="card">
                  <div class="card-head" id="heading6">
                      <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                          MISSION OF Uma Loan
                      </h2>
                  </div>
                  <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionUmaLoan">
                      <div class="card-body">
                          <p>
                              Make Mobile a New and Modern Classroom to Uplift the Education
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>