<div class="container-fluid m-p-0">
  <div style="margin-top: 58px;">
      <img class="banner" src="assets/images/about/AboutUs.jpg" alt="About Us UmaLoan">
  </div>
  <div class="container">
      <div class="row ">
          <div class="accordion" id="accordionUmaLoan">
              <div class="card">
                  <div class="card-head" id="headingOne">
                      <h2 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          ABOUT US
                      </h2>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionUmaLoan">
                      <div class="card-body">
                          <p>
                            Welcome to Umaloan, India's largest digital financial services marketplace, where we are dedicated to delivering personalized financial solutions to meet the unique needs of our clients.
                          </p>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <div class="card-head" id="headingTwo">
                      <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Our mission
                      </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionUmaLoan">
                      <div class="card-body">
                          <p>
                            Our mission is to provide financial products that enable our clients to achieve their financial goals with ease and convenience. We take pride in offering free services and door-to-door services, ensuring a seamless experience for our clients.
                          </p>
                      </div>
                  </div>
              </div>

              <div class="card">
                  <div class="card-head" id="headingThree">
                      <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          WHY UMALOAN
                      </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionUmaLoan">
                      <div class="card-body">
                          <p>
                            At Umaloan, we understand the importance of interest rates, which is why we offer the best rates of interest on all our financial products. Our team of 100+ compassionate financial professionals are always available to guide you through the application process, ensuring that you receive the best possible outcome.
                          </p>
                          <p>
                            Since our inception in 2016, we have helped over 5 Lakh happy customers achieve their financial aspirations. We work with over 30 RBI recognized banks, NBFCs & financial institutions, offering real-time applications for personal loans, home loans, business loans, and credit cards.
                          </p>
                          <P>
                            Choose Umaloan for a stress-free financial journey and let us help you turn your dreams into reality.
                          </P>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>