<div class="container-fluid m-p-0">
  <div style="margin-top: 58px;">
      <img class="banner" src="assets/images/about/PRIVACY POLICY.jpg" alt="term and Conditions Padholeekho">
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-xl-12">
          <div class="para-pad">
              <h5>PRIVACY POLICY</h5>
              <p>
                By signing up at www.umaloan.com, you give us and our affiliate partners authorization to contact you about their services and promotions in addition to your chosen product. We may also contact you about website promotions and deals from our partners. Signing up allows us to contact you about goods and services, even if you are on the DND or DNC list.
              </p>
              <p>
                This Privacy Policy describes how www.umaloan.com handles personally identifiable information collected when you view the website and use its services. This policy does not apply to non-www.umaloan.com firms or employees.
              </p>
              <p>
                At www.umaloan.com, we require your name, email address, phone number, product interest, and area Our potential customers can sign up at www.umaloan.com.
              </p>
              <p> Send your cell number to contact@umaloan.com to stop receiving SMS/email alerts. Remove your cell number from the notification list.</p>
              <h5>Dissemination</h5>
              <p>We respect your privacy and only share your personal information with other people or firms to provide the services you've requested (for example, if you wish to apply for a loan, we will submit your loan application form to the bank you wish to apply to along with all the required data and information you have provided). www.umaloan.com will not sell or rent your personal information to third parties. However, www.umaloan.com may sell and/or transfer your personally identifiable information to an affiliate and any successor-in-interest if it sells any part of its company or merges, reorganizes, or consolidates with another entity in which it is not the surviving entity. Partners are anyone who directly or indirectly manages www.umaloan.com. </p>
              <p> "Control" means the ability to direct or cause the management or policies of the person being managed through voting rights, contractual rights, or other means. This Privacy Statement defines "person" as any individual, corporation, partnership, LLC, trust, unincorporated association, or other legal body.</p>
              <p> Umaloan may tell law enforcement information about a threat. This includes people aiming to defraud or harm others.</p>
              <h5>Data Safety</h5>
              <p><b> We use your personal information for the following reasons:</b></p>
              <p> You have given us clear permission to use your Personal Data for validating the Personal Data you gave us; sending it to third parties to validate the data; verifying your identity; and sharing it with third parties to provide our services as agreed upon in any other agreement between us.</p>

              <h5>How do we protect your data?</h5>
              <p> We will safeguard your Personal Details. We take reasonable steps to protect your Personal Data from unauthorized entry, change, sending, or deletion. Our legal contractors protect your Personal Data in accordance with our rules.

              </p>
              <p> We will safeguard your Personal Details. We take reasonable steps to protect your Personal Data from unauthorized entry, change, sending, or deletion. Our legal contractors protect your Personal Data in accordance with our rules.

              </p>
              <p> We will safeguard your Personal Details. We take reasonable steps to protect your Personal Data from unauthorized entry, change, sending, or deletion. Our legal contractors protect your Personal Data in accordance with our rules.

              </p>
              <p> We never knowingly gather Personal Information from children. We may include other optional User information requests, such as User surveys, to help Us customize the Platform to give the User personalized information and for other reasons mentioned in this Policy. Surveys and contests may provide this information. This Privacy Statement will handle extra personal data.</p>
              <p> Data Storage Policy (a) The Information Technology Act, 2000, as revised by the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011, and all other applicable laws must be followed when storing, using, and sending Platform data.</p>
              <p> Data Storage Policy (a) The Information Technology Act, 2000, as revised by the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011, and all other applicable laws must be followed when storing, using, and sending Platform data.</p>
              <p> Data Storage Policy (a) The Information Technology Act, 2000, as revised by the Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011, and all other applicable laws must be followed when storing, using, and sending Platform data.</p>

              <p>(d) The Client must follow all relevant laws, not just Data Protection Laws, to protect Personal Data and Confidential Information.</p>
              <p>We prioritize data security. We use the right data gathering, storage, and processing procedures and security measures to protect your username, password, transaction details, and other data you store with Us from being accessed, changed, shared, or deleted without your permission. Us has made these safety measures:</p>
              <p>Firewall-protected servers hold our data. Passwords restrict server access.</p>
              <p>Our system encrypts all traffic.</p>
              <p>TLS-encrypted HTTP sends API data.</p>
              <p>TLS-encrypted HTTP sends API data.</p>
              <p>TLS-encrypted HTTP sends API data.</p>
              <p>TLS-encrypted HTTP sends API data.</p>
              <p>TLS-encrypted HTTP sends API data.</p>
              <p>Privacy Policy Updates Umaloan can change this stance anytime. These parts of our Privacy Statement will notify you of any major changes to how we use your personal information.

              </p>
              
          </div>
      </div>
  </div>
</div>