<div class="container-fluid m-p-0">
  <div style="margin-top: 58px;">
      <img class="banner" src="assets/images/about/Terms & Conditions.jpg" alt="term and Conditions Padholeekho">
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-xl-12">
          <div class="para-pad">
              <h5>Introduction</h5>
              <p>
                Umaloan (including its officers, directors, employees, representatives, affiliates, and providers) is not responsible or liable for (a) any injury, death, loss, claim, act of god, accident, delay, or any direct, special, exemplary, punitive, indirect, incidental, or consequential damages of any kind (including lost profits or savings), whether based on contract, tort, or any other legal theory.</p>
              <p>
                You agree not to assign or transfer any rights or responsibilities assigned to you or acquired by you in accordance with these terms. You agree that Umaloan may assign its rights and obligations under the Terms without prior notification or your consent.
              </p>
              <p>
                The failure or delay of Umaloan to exercise any right, power, or privilege granted by this agreement does not constitute a waiver, nor does the single or partial exercise of any other right. These rights and Remedies supplement those granted by law.
              </p>
              <p>
                We may modify these Terms at any time by publishing a notice at least ten days in advance on the website. The Terms are in effect when you access the website following any changes that will apply. You must cease using the Service immediately if you disagree with these Terms or any future modifications to them. Additional terms and conditions may apply to loans, insurance, and credit cards that are applied for online. You must observe these additional rules.
              </p>
              <p>
                The invalidity or unenforceability of any provision of these terms and conditions in any jurisdiction shall not affect the validity, legality, or enforceability of the remaining provisions in such jurisdiction or of these terms and conditions, including provision, in any other jurisdiction, it is intended that all rights and obligations of the Umaloan under these Terms and conditions shall be enforceable to the fullest extent permitted.
              </p>
              <p>
                These Terms and any agreements incorporated by reference into them constitute the entire agreement between Umaloan and you pertaining to your use of the Website and supersede any prior agreements or understandings (whether oral or written).
              </p>
              <!-- <h5>User Conduct Policy</h5> -->
              <p>
                These Terms and our compliance with them are subject to Indian law, excluding its rules on conflicts of law. You consent to submit to the exclusive jurisdiction of Chennai, India, any legal action relating to your use of the Website or these Terms. The prevailing party is entitled to reimbursement of all legal expenses, including taxable and non-taxable costs and reasonable attorney fees. You agree to read and comprehend these Rules, which are legally binding.
              </p>
              <p>
                These Terms and our compliance with them are subject to Indian law, excluding its rules on conflicts of law. You consent to submit to the exclusive jurisdiction of Chennai, India, any legal action relating to your use of the Website or these Terms. The prevailing party is entitled to reimbursement of all legal expenses, including taxable and non-taxable costs and reasonable attorney fees. You agree to read and comprehend these Rules, which are legally binding.
              </p>
              
          </div>
      </div>
  </div>
</div>