<div class="container-fluid m-p-0">
  <div style="margin-top: 58px;">
      <img class="banner" src="assets/images/about/Terms & Conditions.jpg" alt="term and Conditions Padholeekho">
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-xl-12">
          <div class="para-pad">
              <h5>Introduction</h5>
              <p>
                  The website www.padholeekho.com and mobile apps (collectively referred to as the “Platform”) and the information, services and other materials contained therein are provided and operated by One2Many Education Private Limited (referred to as “we”, “us”
                  or “PADHO LEEKHO”). PADHO LEEKHO offers curated and specially designed Competitive Exams Preparation and Academic Preparation of 10th & 12th Board Exams online (“Programs”).
              </p>
              <p>
                  Please review our Terms of Use, Privacy Policy and other policies available on the Platform (collectively referred to as the “Terms”) that govern the use of the Platform and Programs. Each Program may have a separate set of terms dealing with refunds,
                  deferrals, payments, etc. governing such Programs, and our corporate clients/customers/students may have executed separate written agreements with us, which, in the event of a conflict, can be superseded depends on the nature of conflicts
                  and it should not be a case of conflict of interest.
              </p>
              <p>
                  These Terms shall apply to PADHO LEEKHO hosted mobile apps, Whatsapp groups, Facebook groups, Instagram pages, Facebook pages, email/SMS/phone communications and other social media forums hosted by PADHO LEEKHO, which shall be deemed to be part of the
                  ‘Platform’ by reference. You acknowledge that certain parts of the Platform, as mentioned above, are provided by third-party service providers, and you agree to abide by their terms and conditions. PADHO LEEKHO shall not be responsible
                  for any disruption of services caused by such third-party service providers.
              </p>
              <p>
                  Please note that the use of the Platform and Programs constitutes an unconditional agreement to follow and be bound by the Terms. Although you may "bookmark" a particular portion of the Platform and thereby bypass these Terms, your use of the Platform
                  still binds you to these Terms.
              </p>
              <p>
                  We may change these Terms from time to time without prior notice. You should review this page regularly. Your continued use of the Platform and Programs after changes have been made will be taken to indicate that you have read and accepted those changes.
                  You should not use the Platform or Programs if you are not happy with any changes to these Terms.
              </p>
              <p>
                  PADHO LEEKHO makes no representations that the Platform operates (or is legally permitted to operate) in all geographic areas, or that the Platform, or information, services or products offered through the Platform are appropriate or available for use
                  in other locations. Accessing the Platform from territories where the Platform, or any content or functionality of the Platform or its portions thereof is illegal is expressly and without any specific conditions either applicable to
                  a person/group/association/lobby/activist of people from any of the constitutionally valid or otherwise profession prohibited. If you choose to access the Platform either as paid clients/customer/students or to seeking any information
                  related to the Arena of Platform, you agree and acknowledge that you do so your own initiative and at your own risk and that you are solely responsible for compliance with all applicable laws belongs to that geographical parts or country
                  or island of the world.
              </p>
              <h5>User Conduct Policy</h5>
              <p>
                  Whether you have enrolled in a Program or are simply browsing the Platform, once you have accessed the Platform or Programs, you shall be considered a ‘user’ for the purpose of these Terms. You are responsible for all your activities in connection with
                  the terms of use of the Platform and Programs. You hereby agree to fully comply with all terms & conditions pertaining to a ‘user’ applicable local, provincial, state, national and foreign law, treaties, pacts, regulations or special
                  provision as per law of UN or other International Councils in connection with such use. You shall not resort to any unethical practices while using the Platform.
              </p>
              <p>
                  Without limitation, you will not post or transmit, or cause to be posted or transmitted, any communication or solicitation or other "phishing", "pharming" or "whaling" message designed or intended to obtain password, account, personal information, confidential
                  information or private information from any user of the Platform or any other third party whatsoever. However, if any such event does take place, PADHO LEEKHO shall not be liable for any loss of data or if the user’s device, computer
                  or any other property is compromised in any manner.
              </p>
              <p>
                  You acknowledge and agree that PADHO LEEKHO has the right to report any and all suspicious, any unethical practices or illegal activity to the appropriate legal or police authorities without notice to you.
              </p>
              <h5>User Accounts, User Registration</h5>
              <p>
                  In order to participate in most Platform activities and to apply for a Program, you will need to register for a personal account (“User Account”) by providing an email address/mobile number/user ID provided by PADHO LEEKHO and a password that is chosen
                  and set by the ‘user’ and mostly unique in nature or sequence.
              </p>
              <p>
                  In order to participate in most Platform activities and to apply for a Program, you will need to register for a personal account (“User Account”) by providing an email address/mobile number/user ID provided by PADHO LEEKHO and a password that is chosen
                  and set by the ‘user’ and mostly unique in nature or sequence.
              </p>
              <p>
                  In setting up your User Account, you may be prompted or required to enter additional information, including but not limited to your name and email address. Additional information may be required to confirm your identity and types of programs selected.
                  You understand and agree that all information provided by you is accurate, current and complete and that you will maintain and update your information to keep it accurate, current and complete. You acknowledge that if any information
                  provided by you is untrue, inaccurate, not current or incomplete, we reserve the right to suspend/terminate your use of the Platform and your enrolment into a Program, to the extent applicable.
              </p>
              <p>
                  In addition to the registration process, as part of your use of the Platform or participation in the Programs, we may obtain certain information about you and your performance in the Programs. Some of this information may be Personally Identifiable Information.
                  We may use, maintain and store this information to provide certain services to you now and in the future, and may share such information with our Educational Partners or third parties in conjunction with such services or for the purpose
                  of marketing. For example, as further detailed in our Privacy Policy, we may share certain materials or information about you with third parties, including your grades/scores in our classes.
              </p>
              <p>
                  In addition to the registration process, as part of your use of the Platform or participation in the Programs, we may obtain certain information about you and your performance in the Programs. Some of this information may be Personally Identifiable Information.
                  We may use, maintain and store this information to provide certain services to you now and in the future, and may share such information with our Educational Partners or third parties in conjunction with such services or for the purpose
                  of marketing. For example, as further detailed in our Privacy Policy, we may share certain materials or information about you with third parties, including your grades/scores in our classes.
              </p>
              <p>
                  <b>By registering your User Account, you agree that:</b>
              </p>
              <ul>
                  <li>
                      You are registered for the Program only once and will not set up multiple User Accounts; and
                  </li>
                  <li>
                      You will abide by these Terms and any terms specific to the Program.
                  </li>
              </ul>
              <p>
                  Additional requirements apply to Students. As a Student, in addition to the points above, you agree that you are registering with the intent to complete the assignments, if any, that are relevant and applicable to the Platform or Programs into which you
                  have enrolled.
              </p>
              <h5>
                  Payment Terms and Refund Policy
              </h5>
              <p>
                  Unless otherwise expressly agreed in writing by PADHO LEEKHO, full payment for participation in a Program is required at the time of registration. In the case of Programs that include a trial window, such trial window shall be made available only after
                  the full payment. During the trial window, upon a request by the Student, and to the satisfaction of PADHO LEEKHO, PADHO LEEKHO may choose to refund the Program Fees paid either partially or fully, subject to such charges as may be
                  decided from time to time. Once the trial window has closed, there will be no refund allowed for any reason whatsoever.
              </p>
              <p>
                  It is the sole responsibility of the user enrolling into a Program to check the accuracy of, and evaluate the suitability and relevance of, the Program elected. The enrolment into a Program is non-transferable.
              </p>
              <p>
                  To make payment for any Program or to purchase any services or products offered by PADHO LEEKHO through the Platform, you must have internet access and a current valid accepted payment method as indicated during sign-up ("Payment Method"). PADHO LEEKHO
                  does not store any of your credit card information or such other information restricted by the Reserve Bank of India (RBI) for processing payment and has partnered with payment gateways for the payment towards the services. By using
                  a third-party payment provider, you agree to abide by the terms of such a payment provider. You agree that in case PADHO LEEKHO’s third-party payment provider stores any such information, PADHO LEEKHO will not be responsible for such
                  storage, and it will be solely at your discretion to allow the third party to store such information. Any loss of such information or any loss incurred by you due to the usage of such information will be solely a loss incurred by you,
                  and PADHO LEEKHO is in no way liable for any such losses and is neither responsible to reimburse / make good such losses in any manner whatsoever. You also agree to pay the applicable fees for the payments made through the Platform.
              </p>
              <p>
                  Failure to pay may result in withdrawal of your access to a Program. Depending on where you transact with us, the type of payment method used and where your payment was issued, your transaction with us may be subject to Transaction processing fee, foreign
                  exchange fees or exchange rates. PADHO LEEKHO does not support all payment methods, currencies or locations for payment. All applicable taxes and rate of taxes are calculated based on the billing information you provide to us at the
                  time of enrolment/purchase.
              </p>
              <p>
                  You may cancel your enrolment at any time. No refund will be made other than trial period if, Applicable once the payment (in part or whole) for a Program has been transacted by any mode of transactions. We do not provide refunds for the lack of usage,
                  unavailability of Internet/User or dissatisfaction.
              </p>
              <h5>
                  Use of Programs
              </h5>
              <p>
                  PADHO LEEKHO reserves the right to cancel or reschedule any Program or live lectures/webinars, or to alter, modify or rearrange the schedule of topics, as well as the point value or weight of assignments, tests, quizzes, exams, projects and other such
                  evaluations of progress. You also understand that PADHO LEEKHO, at its sole discretion, may limit, suspend, or terminate your use of the Platform or Programs and/or all PADHO LEEKHO-provided services related to the Programs, such as
                  access to PADHO LEEKHO coaches or support services, evaluation services, or certifications. You also understand that PADHO LEEKHO may modify or discontinue all services related to its Programs at its sole discretion. You agree that
                  PADHO LEEKHO shall not be liable to you or to any third party for any such modification, suspension or discontinuance. Nothing in these Terms shall be construed to obligate PADHO LEEKHO to maintain and support the Platform or Programs
                  or any part or portion thereof or any associated services.
              </p>
              <p>
                  If you no longer wish to use any Program, you may terminate your participation by giving notice to PADHO LEEKHO.
              </p>
              <p>
                  If you no longer wish to use any Program, you may terminate your participation by giving notice to PADHO LEEKHO.
              </p>
              <p>
                  You shall be exclusively responsible for obtaining and maintaining any equipment or ancillary services needed to connect to, access, receive or use the Platform, including, without limitation, hardware devices, software, and other internet, wireless,
                  broadband, phone or other mobile communication device connection services. You shall be exclusively responsible for ensuring that such equipment or ancillary services are compatible with the Platform, and you shall be responsible for
                  all charges incurred in connection with the use of the Platform and Program in connection with all such equipment and ancillary services.
              </p>
              <h5>
                  PADHO LEEKHO’s Intellectual Property Rights
              </h5>
              <p>
                  “Content” means any and all information and data, which may include but not be limited to text, software, scripts, graphics, maps, photos, sounds, music, videos, logos, offers, advertisements, interactive features and other materials.
              </p>
              <p>
                  The Platform, Programs and related services are owned and operated by PADHO LEEKHO and its licensors. All Content or other material available on the Platform or through the Programs, including but not limited to online/live lectures, speeches, video lessons,
                  presentation materials, homework assignments, programming assignments, programs, code, and other images, text, layouts, arrangements, displays, illustrations, documents, materials, audio and video clips, HTML and files (collectively
                  “PADHO LEEKHO Content”), are the property of PADHO LEEKHO and/or its affiliates or licensors, and are protected by copyright, patent and/or other proprietary intellectual property rights under Indian and foreign laws. All software
                  used on the Platform is the property of PADHO LEEKHO and is protected by Indian and international copyright laws.
              </p>
              <p>
                  PADHO LEEKHO logos, trademarks and service marks that may appear on the Platform and in the Program (“PADHO LEEKHO Marks”) are the property of PADHO LEEKHO and are protected under Indian and foreign laws. All other trademarks, service marks and logos
                  used on the Platforms, Online Courses or Programs, with or without attribution, are the trademarks, service marks or logos of their respective owners. In addition, elements of the Platforms are protected by trade dress and other Indian
                  and international intellectual property laws and may not be copied, reproduced, downloaded or distributed in any way in whole or in part without the express written consent of PADHO LEEKHO.
              </p>
              <p>
                  As a condition of accessing the Platforms and/or using the Programs, you agree not to (a) reproduce, duplicate, copy, sell, resell or exploit for any commercial or personal purpose any PADHO LEEKHO Content or any portion of it thereof, other than as expressly
                  allowed under these Terms; and (b) use the PADHO LEEKHO Marks or the name, trademarks, service marks, or other materials of any Educational Partner in connection with, or to transmit, any unsolicited communications or emails or for
                  any other unauthorised purpose.
              </p>
              <p>
                  As a condition of accessing the Platforms and/or using the Programs, you agree not to (a) reproduce, duplicate, copy, sell, resell or exploit for any commercial or personal purpose any PADHO LEEKHO Content or any portion of it thereof, other than as expressly
                  allowed under these Terms; and (b) use the PADHO LEEKHO Marks or the name, trademarks, service marks, or other materials of any Educational Partner in connection with, or to transmit, any unsolicited communications or emails or for
                  any other unauthorised purpose.
              </p>
              <p>
                  Additionally, from time to time, PADHO LEEKHO (or its third-party service providers, on behalf of PADHO LEEKHO) may request users to review PADHO LEEKHO Content or beta-test the Platform. The works derived from such activity shall remain the sole and
                  exclusive property of PADHO LEEKHO or its third-party service providers, as applicable.
              </p>
              <h5>
                  Third-Party Intellectual Property
              </h5>
              <p>
                  PADHO LEEKHO respects third-party intellectual property rights and actively supports protection of all third-party intellectual property including copyrights and trademarks (“IP”). It is our policy to expeditiously respond to clear notices of alleged
                  IP infringement. If we receive proper notification of IP infringement, our response to such notices will include removing or disabling access to material claimed to be the subject of infringing activity.
              </p>
              <p>
                  PADHO LEEKHO respects third-party intellectual property rights and actively supports protection of all third-party intellectual property including copyrights and trademarks (“IP”). It is our policy to expeditiously respond to clear notices of alleged
                  IP infringement. If we receive proper notification of IP infringement, our response to such notices will include removing or disabling access to material claimed to be the subject of infringing activity.
              </p>
              <h5>
                  User Content
              </h5>
              <p>
                  The Platform may allow you to upload forum posts, chat with other users and PADHO LEEKHO’s counsellors, user discussions, profile pages, and other content and media for social interaction, or certain information and materials for use with the Programs,
                  e.g., questions, hypotheticals, examples, assignments, industry projects, etc. (collectively "User Content"). PADHO LEEKHO does not claim ownership of any User Content you may submit or make available for inclusion on the Platform
                  or Programs. Accordingly, subject to the license granted to PADHO LEEKHO above, the user will be the sole and exclusive owner of any and all rights, title and interest in and to the User Content.
              </p>
              <p>
                  With respect to any User Content you submit via the Platform or Programs or that is otherwise made available to PADHO LEEKHO, you hereby grant PADHO LEEKHO an irrevocable, worldwide, perpetual, royalty-free and non-exclusive license to use, distribute,
                  reproduce, modify, adapt, publicly perform and publicly display such User Content on the Platforms or in the Programs or otherwise exploit the User Content, with the right to sublicense such rights (to multiple tiers), for any purpose
                  (including for any commercial purpose). PADHO LEEKHO reserves the right to remove any User Content at any time and for any reason.
              </p>
              <p>
                  To the extent that you provide any User Content, you represent and warrant that (a) you have all necessary rights, licenses and/or clearances to provide such User Content and permit PADHO LEEKHO to use such User Content as provided above, (b) such User
                  Content is accurate and reasonably complete, (c) as between you and PADHO LEEKHO, you shall be responsible for the payment of any third-party fees related to the provision and use of such User Content, and (d) such User Content does
                  not and will not infringe or misappropriate any third-party rights or constitute a fraudulent statement or misrepresentation or unfair business practices.
              </p>
              <p>
                  To the extent that you provide any User Content, you represent and warrant that (a) you have all necessary rights, licenses and/or clearances to provide such User Content and permit PADHO LEEKHO to use such User Content as provided above, (b) such User
                  Content is accurate and reasonably complete, (c) as between you and PADHO LEEKHO, you shall be responsible for the payment of any third-party fees related to the provision and use of such User Content, and (d) such User Content does
                  not and will not infringe or misappropriate any third-party rights or constitute a fraudulent statement or misrepresentation or unfair business practices.
              </p>
              <h5>
                  Platform Security
              </h5>
              <p>
                  You are prohibited from violating or attempting to violate the security of the Platform or any other associate Platform of PADHO LEEKHO, including, without limitation, (a) accessing data not intended for such user or logging onto a server or an account
                  that the user is not authorised to access; (b) attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorisation; (c) attempting to interfere with
                  service to any user, host or network, including, without limitation, via means of submitting a virus to the Platform, overloading, "flooding," "spamming," "mail bombing" or "crashing;" (d) sending unsolicited emails, including promotions
                  and/or advertising of products or services; or (e) forging any TCP/IP packet header or any part of the header information in any email or newsgroup posting. Violations of system or network security may result in civil or criminal liability.
                  PADHO LEEKHO will investigate occurrences that may involve such violations and may involve, and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations. You agree not to use any device,
                  software or routine to interfere or attempt to interfere with the proper working of this Platform or any activity being conducted on the Platform. You agree, further, not to use or attempt to use any engine, software, tool, agent or
                  other device or mechanism (including without limitation browsers, spiders, robots, avatars or intelligent agents) to navigate or search the Platform other than the search engine and search agents available from PADHO LEEKHO on the
                  Platform and other than generally available third-party web browsers (e.g., Google Chrome or Microsoft Explorer).
              </p>
              <h5>
                  Disclaimer
              </h5>
              <p>
                  The Platform and/or Programs may contain typographical errors or inaccuracies and may not be complete or current. PADHO LEEKHO, therefore, reserves the right to correct any errors, inaccuracies or omissions (including after an order has been submitted)
                  and to change or update information at any time without prior notice.
              </p>
              <p>
                  The Platform, Programs, and any information or PADHO LEEKHO Content are provided on an “as is” and “as available” basis with all faults.
              </p>
              <p>
                  PADHO LEEKHO makes no representations or warranties of any kind, whether expressed or implied, with respect to PADHO LEEKHO Content or services available on or through this Platform and Programs, including, but not limited to, the implied warranties of
                  merchantability, fitness for a particular purpose, and non-infringement. PADHO LEEKHO makes no warranty that the services will meet the user's requirements or that the services will be uninterrupted, timely, secure, or error free;
                  nor does PADHO LEEKHO make any warranty as to the results that may be obtained from the use of the services, or as to the accuracy or reliability of any information obtained through the services, or that any defects in the software
                  will be corrected.
              </p>
              <p>
                  PADHO LEEKHO makes no representations or warranties of any kind, whether expressed or implied, with respect to PADHO LEEKHO Content or services available on or through this Platform and Programs, including, but not limited to, the implied warranties of
                  merchantability, fitness for a particular purpose, and non-infringement. PADHO LEEKHO makes no warranty that the services will meet the user's requirements or that the services will be uninterrupted, timely, secure, or error free;
                  nor does PADHO LEEKHO make any warranty as to the results that may be obtained from the use of the services, or as to the accuracy or reliability of any information obtained through the services, or that any defects in the software
                  will be corrected.
              </p>
              <p>
                  No advice or information, whether oral or written, obtained by the user from PADHO LEEKHO or through or from the services, shall create any warranty by PADHO LEEKHO.
              </p>
              <p>
                  In the event you find that the information provided on the Platform or Programs is incorrect, or if you are the owner of any information or content and wish that such information or content is not displayed on the Platform or Programs, kindly notify us
                  at the address provided at the bottom of the page.
              </p>
              <h5>
                  Indemnity
              </h5>
              <p>
                  You agree to indemnify and hold PADHO LEEKHO and its Educational Partners harmless from any and all claims, liabilities, damages, losses and expenses, including reasonable attorneys' fees and costs, relating to or arising out of (a) your use or attempted
                  use of the Platforms or Programs in violation of the Terms; (b) your violation of any law or rights of any third party; or (c) information or Content that you or others post or otherwise make available on the Platform or through any
                  Program, including without limitation any claim of infringement or misappropriation of intellectual property or other proprietary rights.
              </p>
          </div>
      </div>
  </div>
</div>