<div class="container-fluid m-p-0">
  <div class="sec-banner" [ngStyle]="{'background' : 'url(assets/images/homeloan/bg-homeloan-desktop.jpg)'}">
    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h1>business Loan</h1>
      <h3>Rate of Interest 8.65%</h3>
      <p>* Terms & Conditions Apply</p>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="row container">
  <div class="col-md-8">
    <div class="loanPanel">
    <p class="l-header">Get a loan for Business in just 48 hours</p>
    <p class="l-header-hint">Please be specific of the enquiry you want to submit in this Enquiry Form, so we can return to you
      <br>fast with the information you are looking for. Thank you!</p>
    <form name="form"  [formGroup]="enquiryForm" (keyup.enter)="enquiry()">
      <div class="row">
          <div class="col-xl-6">
              <div class="i-login">
                  <p class="label">Full Name </p>
                  <div class="i-panel">
                      <input class="input-effect" type="text" placeholder="" formControlName="name">
                      <span class="focus-border"><i></i></span>
                  </div>
                  <div *ngIf="(submitted || f.name.touched) && f.name.errors" class="error">
                      <div [hidden]="!f.name.errors.required">Name is required<small>*</small></div>
                  </div>
              </div>
          </div>
          <div class="col-xl-6">
              <div class="i-login">
                  <p class="label">Email ID</p>
                  <div class="i-panel">
                      <input class="input-effect" type="text" placeholder="" formControlName="email">
                      <span class="focus-border"><i></i></span>
                  </div>
                  <div *ngIf="(submitted || f.email.touched) && f.email.errors" class="error">
                      <div [hidden]="!f.email.errors.required">Email is required<small>*</small></div>
                      <div [hidden]="!f.email.errors.email">Email must be a valid email Address.</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <div class="i-login">
            <p class="label">Mobile Number</p>
            <div class="i-panel">
                <input class="input-effect" type="number" formControlName="phone">
                <span class="focus-border"><i></i></span>
            </div>
            <div *ngIf="(submitted || f.phone.touched) && f.phone.errors" class="error">
                <div [hidden]="!f.phone.errors.required">Phone is required<small>*</small></div>
                <div [hidden]="!f.phone.errors.pattern">Phone number not valid.</div>
            </div>
        </div>
        </div>
        <div class="col-xl-6">
          <div class="i-login">
            <p class="label">Type Of Employment</p>
            <div class="i-panel">
                <select class="form-control drop-d input-effect" formControlName="emp_type">
                  <option value="">Select</option>
                    <option  value="ri" selected>Self-Employed</option>
                    <option  value="nri">Salaried</option>
                </select>
                <span class="focus-border"><i></i></span>
            </div>
            <div *ngIf="(submitted || f.emp_type.touched) && f.emp_type.errors" class="error">
                <div [hidden]="!f.emp_type.errors.required">select Type Of Employment<small>*</small></div>
            </div>
        </div>
        </div>
        </div>

      <div class="row">
          <div class="col-xl-6">
            <div class="i-login">
              <p class="label">Number Of Years In Operation</p>
              <div class="i-panel">
                  <select class="form-control drop-d input-effect" (change)="changeCountry($event.target.value)" formControlName="property_state">
                    <option value="">Select</option>
                      <option  value="0-1">0 to 1 year</option>
                      <option  value="1-2">1 to 2 year</option>
                      <option  value="2-3">2 to 3 year</option>
                      <option  value="3+">More than 3 years</option>
                  </select>
                  <span class="focus-border"><i></i></span>
              </div>
              <div *ngIf="(submitted || f.property_state.touched) && f.property_state.errors" class="error">
                  <div [hidden]="!f.property_state.errors.required">select Years In Operation<small>*</small></div>
              </div>
          </div>
          </div>
          <div class="col-xl-6">
            <div class="i-login">
              <p class="label">Business Turnover</p>
              <div class="i-panel">
                  <select class="form-control drop-d input-effect" formControlName="property_city">
                  <option value="">Select</option>
                  <option value="0 - 25 Lakhs">0 - 25 Lakhs </option>
                  <option value="25 lakhs - 50 lakhs">25 lakhs - 50 lakhs </option>
                  <option value="50 lakhs to 1 Cr">50 lakhs to 1 Cr </option>
                  <option value="1 Cr and above">1 Cr and above</option>
                  </select>
                  <span class="focus-border"><i></i></span>
              </div>
              <div *ngIf="(submitted || f.property_city.touched) && f.property_city.errors" class="error">
                  <div [hidden]="!f.property_city.errors.required">select Business Turnover<small>*</small></div>
              </div>
          </div>
          </div>
      </div>

      <div class="row">
        <div class="col-xl-6">
          <div class="i-login">
            <p class="label">Current Account (Y/N)</p>
            <div class="i-panel">
                <select class="form-control drop-d input-effect" formControlName="current_ac">
                  <option value="">Select</option>
                  <option value="yes">Yes </option>
                  <option value="No">No</option>
                </select>
                <span class="focus-border"><i></i></span>
            </div>
            <div *ngIf="(submitted || f.current_ac.touched) && f.current_ac.errors" class="error">
                <div [hidden]="!f.current_ac.errors.required">select Y/N<small>*</small></div>
            </div>
        </div>
        </div>
        <div class="col-xl-6">
          <div class="i-login">
            <p class="label">Select Bank</p>
            <div class="i-panel">
                <select class="form-control drop-d input-effect"  formControlName="selected_bank">
                  <option value="">Select</option>
                  <option  value="Idfc Bank">Idfc Bank</option>
                  <option  value="Hdfc Bank">Hdfc Bank</option>
                  <option  value="Tata Finance">Tata Finance</option>
                  <option  value="Bajaj Finance">Bajaj Finance</option>
                  <option  value="ICICI Bank">ICICI Bank</option>
                  <option  value="Lendingkart">Lendingkart</option>
                  <option  value="Indifi">Indifi</option>
                  <option  value="IIFL Finance">IIFL Finance</option>
                </select>
                <span class="focus-border"><i></i></span>
            </div>
            <div *ngIf="(submitted || f.selected_bank.touched) && f.selected_bank.errors" class="error">
                <div [hidden]="!f.selected_bank.errors.required">select bank<small>*</small></div>
            </div>
        </div>

        </div>
        </div>
<br>
        <div class="row">
          <div class="col-xl-6">
            <p class="l-header-hint">GST Active ?
              <span class="float-right">
                  <label class="pure-material-radio">
                      <input type="radio" checked="checked" formControlName="active_gst" name="active_gst" value='yes'>
                      <span>Yes</span>
              </label>
          
              <label class="pure-material-radio">
                      <input type="radio" name="active_gst" formControlName="active_gst" value="no">
                      <span>No</span>
                  </label>
              </span>
          </p>
          </div>
          <div class="col-xl-6">
            <div class="l-button text-right">
              <button type="button" class="btn btn-success ripple" (click)="sendBusnessLoan()">Submit <i class="fas fa-paper-plane"></i></button>
          </div>
          </div>
        </div>
  </form>
</div>
  </div>
  <div class="col-md-4">
    <div class="row ">
      <div class="accordion" id="accordionPadholeekho">
      <div class="card">
        <div class="card-head" id="headingOne">
            <h2 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Process and Documents
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionPadholeekho">
            <div class="card-body">
              <p> We provide finance to proprietorship firms engaged in the businesses of manufacturing, trading and services and having vintage of minimum 2 years only for loan amounts up to 30 lakhs, positive net worth and good repayment history.</p>
            </div>
        </div>
    </div>
    <div class="card">
      <div class="card-head" id="headingTwo">
          <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Documents for 10 Lakhs
          </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionPadholeekho">
          <div class="card-body">
            <p> KYC documents – Identity proof and address proof of the borrower and all co-borrowers</p>
            <p> Last 6 months bank statement of main operative business account (12 months preferable to avail maximum loan amount)</p> 
            <p> Additional document(s) may be required for credit assessment and processing of loan request </p> 
            <p> PAN Card of borrower and all co-borrowers </p>
            <p> igned copy of standard terms (term loan facility)</p>
          </div>
      </div>
  </div>

  <div class="card">
    <div class="card-head" id="headingThree">
        <h2 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Documents for 30 Lakhs
        </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionPadholeekho">
        <div class="card-body">
          <p> KYC documents – Identity proof and address proof of the borrower and all co-borrowers</p>
          <p> Last 12 months bank statement of main operative business account</p> 
          <p> Additional document(s) may be required for credit assessment and processing of loan request</p> 
          <p> PAN Card of borrower and all co-borrowers</p>
          <p> Signed copy of standard terms (term loan facility)</p>
          <p>Signed copy of standard terms (term loan facility)</p>
        </div>
    </div>
</div>
  </div>
      </div>
  </div>

</div>
<div class="emi-box">
   <br>
   <h2 class="text-center">How much are you looking for?</h2>
   <br><br>
   <app-loan-emi-calculator></app-loan-emi-calculator>
</div>
<br>

<div class="doc-bg">
  <p class="l-header">Documents Required</p>
<div class="row">
    <div class="col-xl-4">
      <div class="l-img-center">
        <img src="assets/images/instaLoan/Document.jpg" class="img-fluid" alt="Padholeekho Support">
    </div>
    </div>
    <div class="col-xl-8">
      <ul class="doc">
        <li>PAN Card Copy</li>
        <li>AADHAAR Card Copy</li>
        <li>Government Issued ID Card</li>
        <li>3 Months Bank Account Statement</li>
        <li>Latest Electricity/Telephone/Credit Card Bill</li>
        <li>A Valid Passport/House Lease Agreement</li>
      </ul>
    </div>
</div>
</div>

<!-- <div class="row register-bg" [ngStyle]="{'background' : 'url(assets/images/businessloan/BG3.png)'}"> -->
  <div class="arrow-section">
    <h2 class="">How does it work?</h2>
    <div class="arrow-area">
      <!--single arrow-->
      <div class="single-arrow">
        <div class="arrow-num">1</div>
        <div class="arrow-content">
          <h3>Fill in the application</h3>
          <p>Enter your personal and business-related details in the application form.</p>
        </div>
        </div>
        <!--single arrow-->
      <div class="single-arrow">
        <div class="arrow-num">2</div>
        <div class="arrow-content">
          <h3>Share your documents</h3>
          <p>Share your bank statements for the last 6 months.</p>
        </div>
        </div>
        <!--single arrow-->
      <div class="single-arrow">
        <div class="arrow-num">3</div>
        <div class="arrow-content">
          <h3>Get a call from our representative</h3>
          <p>Our representative will get in touch with you within 24 hours.</p>
        </div>
        </div>
        <!--single arrow-->
      <div class="single-arrow">
        <div class="arrow-num">4</div>
        <div class="arrow-content">
          <h3>Get your loan amount in just 48 hours</h3>
          <p>On meeting our eligibility criteria, the loan amount will be transferred to your bank account.</p>
        </div>
        </div>
     </div>
      </div>
<!-- </div> -->
</div>