<div class="container-fluid m-p-0">
  <div class="sec-banner" [ngStyle]="{'background' : 'url(assets/images/homeloan/bg-homeloan-desktop.jpg)'}">
    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h1>personal loan</h1>
      <h3>Personal Loan to suit your needs</h3>
      <p>* Terms & Conditions Apply</p>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="loanPanel">
    <p class="l-header">Personal Loan Enquiry</p>
    <p class="l-header-hint">Please be specific of the enquiry you want to submit in this Enquiry Form, so we can return to you
      <br>fast with the information you are looking for. Thank you!</p>
    <form name="form"  [formGroup]="enquiryForm" (keyup.enter)="enquiry()">
      <div class="row">
          <div class="col-xl-6">
              <div class="i-login">
                  <p class="label">Full Name</p>
                  <div class="i-panel">
                      <input class="input-effect" type="text" placeholder="" formControlName="name">
                      <span class="focus-border"><i></i></span>
                  </div>
                  <div *ngIf="(submitted || f.name.touched) && f.name.errors" class="error">
                      <div [hidden]="!f.name.errors.required">Full Name is required<small>*</small></div>
                  </div>
              </div>
          </div>
          <div class="col-xl-6">
              <div class="i-login">
                  <p class="label">Email ID</p>
                  <div class="i-panel">
                      <input class="input-effect" type="text" placeholder="" formControlName="email">
                      <span class="focus-border"><i></i></span>
                  </div>
                  <div *ngIf="(submitted || f.email.touched) && f.email.errors" class="error">
                      <div [hidden]="!f.email.errors.required">Email is required<small>*</small></div>
                      <div [hidden]="!f.email.errors.email">Email must be a valid email Address.</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <div class="i-login">
            <p class="label">Mobile Number</p>
            <div class="i-panel">
                <input class="input-effect" type="number" formControlName="phone">
                <span class="focus-border"><i></i></span>
            </div>
            <div *ngIf="(submitted || f.phone.touched) && f.phone.errors" class="error">
                <div [hidden]="!f.phone.errors.required">Phone is required<small>*</small></div>
                <div [hidden]="!f.phone.errors.pattern">Phone number not valid.</div>
            </div>
        </div>
        </div>
        <div class="col-xl-6">
          <div class="i-login">
            <p class="label">Loan Amount</p>
             <div class="i-panel">
                <input class="input-effect" type="number" formControlName="amount">
                <span class="focus-border"><i></i></span>
            </div>
            <div *ngIf="(submitted || f.amount.touched) && f.amount.errors" class="error">
                <div [hidden]="!f.amount.errors.required">Please enter amount<small>*</small></div>
            </div>
        </div>
        </div>
        </div>
        <div class="row">
          <div class="col-xl-6">
            <div class="i-login">
              <p class="label">State</p>
              <div class="i-panel">
                  <select class="form-control drop-d input-effect" (change)="changeCountry($event.target.value)" formControlName="property_state">
                    <option value="">Select</option>
                      <option  *ngFor ="let count of countryList">{{count.name}}  </option>
                  </select>
                  <span class="focus-border"><i></i></span>
              </div>
              <div *ngIf="(submitted || f.property_state.touched) && f.property_state.errors" class="error">
                  <div [hidden]="!f.property_state.errors.required">select State<small>*</small></div>
              </div>
          </div>
          </div>
          <div class="col-xl-6">
            <div class="i-login">
              <p class="label">City</p>
              <div class="i-panel">
                  <select class="form-control drop-d input-effect" formControlName="property_city">
                    <option value="">Select</option>
                      <option *ngFor ="let city of cities">{{city}} </option>
                  </select>
                  <span class="focus-border"><i></i></span>
              </div>
              <div *ngIf="(submitted || f.property_city.touched) && f.property_city.errors" class="error">
                  <div [hidden]="!f.property_city.errors.required">select City<small>*</small></div>
              </div>
          </div>
          </div>
      </div>
        <div class="row">
          <div class="col-xl-6">
            <div class="i-login">
              <p class="label">Official Email ID</p>
              <div class="i-panel">
                  <input class="input-effect" type="text" placeholder="" formControlName="officialemail">
                  <span class="focus-border"><i></i></span>
              </div>
              <div *ngIf="(submitted || f.officialemail.touched) && f.officialemail.errors" class="error">
                  <div [hidden]="!f.officialemail.errors.required">Email is required<small>*</small></div>
                  <div [hidden]="!f.officialemail.errors.officialemail">Email must be a valid email Address.</div>
              </div>
          </div>
          </div>
          <div class="col-xl-6">
            <div class="i-login">
              <p class="label">Pan Number</p>
              <div class="i-panel">
                  <input class="input-effect" type="text" formControlName="pan">
                  <span class="focus-border"><i></i></span>
              </div>
              <div *ngIf="(submitted || f.pan.touched) && f.pan.errors" class="error">
                  <div [hidden]="!f.pan.errors.required">Pan is required<small>*</small></div>
                  <div [hidden]="!f.pan.errors.pattern">Pan number not valid.</div>
              </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6">
            <div class="i-login">
              <p class="label">Net Salary</p>
              <div class="i-panel">
                  <input class="input-effect" type="number" formControlName="salary">
                  <span class="focus-border"><i></i></span>
              </div>
              <div *ngIf="(submitted || f.salary.touched) && f.salary.errors" class="error">
                  <div [hidden]="!f.salary.errors.required">Salary is required<small>*</small></div>
                  <div [hidden]="!f.salary.errors.pattern">Salary number not valid.</div>
              </div>
          </div>
          </div>
          <div class="col-xl-6">
            <div class="i-login">
              <p class="label">Location</p>
              <div class="i-panel">
                  <input class="input-effect" type="text" placeholder="" formControlName="location">
                  <span class="focus-border"><i></i></span>
              </div>
              <div *ngIf="(submitted || f.location.touched) && f.location.errors" class="error">
                  <div [hidden]="!f.location.errors.required">Location Name is required<small>*</small></div>
              </div>
          </div>
          </div>
        </div>

      <div class="row">
        <div class="col-xl-6">
          <div class="i-login">
            <p class="label">Select Bank</p>
            <div class="i-panel">
                <select class="form-control drop-d input-effect"  formControlName="selected_bank">
                  <option value="">Select</option>
                  <option  value="Hdfc Bank">Hdfc Bank</option>
                  <option  value="Axis Bank">Axis Bank</option>
                  <option  value="Idfc Bank">Idfc Bank</option>
                  <option  value="Tata Finance">Tata Finance</option>
                  <option  value="Bajaj Finance">Bajaj Finance</option>
                  <option  value="Yes Bank">Yes Bank</option>
                  <option  value="ICICI Bank">ICICI Bank</option>
                </select>
                <span class="focus-border"><i></i></span>
            </div>
            <div *ngIf="(submitted || f.selected_bank.touched) && f.selected_bank.errors" class="error">
                <div [hidden]="!f.selected_bank.errors.required">select bank<small>*</small></div>
            </div>
        </div>
        </div>
        <div class="col-xl-6">
          <div class="i-login">
            <p class="label">Company Name</p>
            <div class="i-panel">
                <input class="input-effect" type="text" placeholder="" formControlName="company_name">
                <span class="focus-border"><i></i></span>
            </div>
            <div *ngIf="(submitted || f.company_name.touched) && f.company_name.errors" class="error">
                <div [hidden]="!f.company_name.errors.required">Company name is required<small>*</small></div>
            </div>
        </div>
        </div>
        </div>

        <div class="row">
          <div class="col-xl-6"></div>
          <div class="col-xl-6">
            <div class="l-button text-right">
              <button type="button" class="btn btn-success ripple" (click)="sendInstaLoan()">Submit <i class="fas fa-paper-plane"></i></button>
          </div>
          </div>
        </div>
  </form>
</div>
  </div>
  <div class="col-md-2"></div>

</div>
<br>
<div class="container-fluid">
  <div class="doc-bg">
    <p class="l-header">Documents Required</p>
    <br>
  <div class="row">
      <!-- <div class="col-xl-4">
        <div class="l-img-center">
          <img src="assets/images/instaLoan/Document.jpg" class="img-fluid" alt="Padholeekho Support">
      </div>
      </div> -->
      <div class="col-xl-6">
        <ul class="doc">
          <h3>For Salaried Individuals</h3>
          <li>Identity & Age Proof</li>
          <li>Completely filled personal loan application with photograph</li>
          <li>PAN Card</li>
          <li>Residence proof - Passport driving licence, Voter ID, postpaid/landline bill, utility bills (electricity/water/gas)</li>
          <li>Bank statements for the last 3 months(preferably your salary account)</li>
          <li>Salary Slips of last 3 months</li>
          <li>Form 16 or Income Tax Returns of last 3 years</li>
        </ul>
      </div>
      <div class="col-xl-6">
        <ul class="doc">
          <h3>For Self-Employed Individuals</h3>
          <li>Identity & Age Proof</li>
          <li>Completely filled personal loan application with photograph</li>
          <li>PAN Card</li>

          <li>Residence proof - Passport driving licence, Voter ID, postpaid/landline bill, utility bills (electricity/water/gas)</li>
          <li>Bank statements for the last 3 months(preferably your salary account)</li>
          <li>Salary Slips of last 3 months</li>
          <li>Last 3 years Income Tax Returns with computation of Income</li>
          <li>Last 3 years CA Certified / Audited Balance Sheet and Profit & Loss Account</li>
        </ul>
      </div>
  </div>
  <div class="emi-box">
    <br>
    <h2 class="text-center l-header">How much are you looking for?</h2>
    <br><br>
    <app-loan-emi-calculator></app-loan-emi-calculator>
 </div>
  <div class="row">
    <div class="col-md-12">
      <p class="l-header">Best Personal Loans in India</p>
      <table class="rwd-table">
        <tbody>
          <tr>
              <td class="font-medium">S. No.</td>
              <td class="font-medium">Bank Name</td>
              <td class="font-medium">Interest rate (p.a)</td>
              <td class="font-medium">Loan Amount</td>
          </tr>
          <tr>
              <td>1</td>
              <td>Yes Bank</td>
              <td>
                  10.99% - 15.99%
                  (BT Special rates - 10.75%)
              </td>
              <td>₹1 lakh - ₹25 lakhs</td>
          </tr>
          <tr>
              <td>2</td>
              <td>ICICI Bank</td>
              <td>11.50% - 17.25% </td>
              <td>₹50k - ₹25 lakhs</td>
          </tr>
          <tr>
              <td>3</td>
              <td>HDFC Bank</td>
              <td>11.25% - 17.75% </td>
              <td>₹50k - ₹40 lakhs</td>
          </tr>
          <tr>
              <td>4</td>
              <td>Kotak Bank</td>
              <td>10.75% - 17.99%</td>
              <td>₹1 lakh - ₹30 lakhs</td>
          </tr>
          <tr>
              <td>5</td>
              <td>Tata Capital</td>
              <td>11.25%- 18.75%</td>
              <td>₹75k - ₹25 lakhs</td>
          </tr>
          <tr>
              <td>6</td>
              <td>IndusInd Bank</td>
              <td>11.50% to 19.00% </td>
              <td>₹1 lakh - ₹25 lakhs</td>
          </tr>
          <tr>
              <td>7</td>
              <td>IDFC First Bank</td>
              <td>12.00 % to 21%</td>
              <td>₹1 lakh - ₹40 lakhs</td>
          </tr>
          <tr>
              <td>8</td>
              <td>Bajaj Finserv</td>
              <td>12.49%-15.30%</td>
              <td>₹1 lakh - ₹20 lakhs</td>
          </tr>
          
          <tr>
              <td>9</td>
              <td>RBL Bank</td>
              <td>11.99% - 18.0%</td>
              <td>₹1 Lakh - ₹20 Lakhs</td>
          </tr>
          <tr>
              <td>10</td>
              <td>Fullerton</td>
              <td>11.99% - 25%</td>
              <td>₹65K - ₹25 Lakhs</td>
          </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
</div>

</div>