<div class="container-fluid m-p-0">
  <div class="sec-banner" [ngStyle]="{'background' : 'url(assets/images/homeloan/bg-homeloan-desktop.jpg)'}">
    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h1>Home Loan</h1>
      <h3>Rate of Interest 8.65%</h3>
      <p>* Terms & Conditions Apply</p>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="loanPanel">
    <p class="l-header">Home Loan Enquiry</p>
    <p class="l-header-hint">Please be specific of the enquiry you want to submit in this Enquiry Form, so we can return to you
      <br>fast with the information you are looking for. Thank you!</p>
    <form name="form"  [formGroup]="enquiryForm" (keyup.enter)="enquiry()">
      <div class="row">
          <div class="col-xl-6">
              <div class="i-login">
                  <p class="label">Full name</p>
                  <div class="i-panel">
                      <input class="input-effect" type="text" placeholder="" formControlName="name">
                      <span class="focus-border"><i></i></span>
                  </div>
                  <div *ngIf="(submitted || f.name.touched) && f.name.errors" class="error">
                      <div [hidden]="!f.name.errors.required">Full name is required<small>*</small></div>
                  </div>
              </div>
          </div>
          <div class="col-xl-6">
              <div class="i-login">
                  <p class="label">Email ID</p>
                  <div class="i-panel">
                      <input class="input-effect" type="text" placeholder="" formControlName="email">
                      <span class="focus-border"><i></i></span>
                  </div>
                  <div *ngIf="(submitted || f.email.touched) && f.email.errors" class="error">
                      <div [hidden]="!f.email.errors.required">Email is required<small>*</small></div>
                      <div [hidden]="!f.email.errors.email">Email must be a valid email Address.</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <div class="i-login">
            <p class="label">Mobile Number</p>
            <div class="i-panel">
                <input class="input-effect" type="number" formControlName="phone">
                <span class="focus-border"><i></i></span>
            </div>
            <div *ngIf="(submitted || f.phone.touched) && f.phone.errors" class="error">
                <div [hidden]="!f.phone.errors.required">Phone is required<small>*</small></div>
                <div [hidden]="!f.phone.errors.pattern">Phone number not valid.</div>
            </div>
        </div>
        </div>
        <div class="col-xl-6">
          <div class="i-login">
            <p class="label">Resident Type</p>
            <div class="i-panel">
                <select class="form-control drop-d input-effect" formControlName="resident_type">
                  <option value="">Select</option>
                    <option  value="ri" selected>Resident Indian</option>
                    <option  value="nri">Non Resident Indian</option>
                </select>
                <span class="focus-border"><i></i></span>
            </div>
            <div *ngIf="(submitted || f.resident_type.touched) && f.resident_type.errors" class="error">
                <div [hidden]="!f.resident_type.errors.required">select your Resident Type<small>*</small></div>
            </div>
        </div>
        </div>
        </div>

      <div class="row">
          <div class="col-xl-6">
            <div class="i-login">
              <p class="label">State</p>
              <div class="i-panel">
                  <select class="form-control drop-d input-effect" (change)="changeCountry($event.target.value)" formControlName="property_state">
                    \<option value="">Select</option>
                      <option  *ngFor ="let count of countryList">{{count.name}}  </option>
                  </select>
                  <span class="focus-border"><i></i></span>
              </div>
              <div *ngIf="(submitted || f.property_state.touched) && f.property_state.errors" class="error">
                  <div [hidden]="!f.property_state.errors.required">select State<small>*</small></div>
              </div>
          </div>
          </div>
          <div class="col-xl-6">
            <div class="i-login">
              <p class="label">City</p>
              <div class="i-panel">
                  <select class="form-control drop-d input-effect" formControlName="property_city">
                    <option value="">Select</option>
                      <option *ngFor ="let city of cities">{{city}} </option>
                  </select>
                  <span class="focus-border"><i></i></span>
              </div>
              <div *ngIf="(submitted || f.property_city.touched) && f.property_city.errors" class="error">
                  <div [hidden]="!f.property_city.errors.required">select City<small>*</small></div>
              </div>
          </div>
          </div>
      </div>

      <div class="row">
        <div class="col-xl-6">
          <div class="i-login">
            <p class="label">Select Bank</p>
            <div class="i-panel">
                <select class="form-control drop-d input-effect"  formControlName="selected_bank">
                  <option value="">Select</option>
                  <option  value="Hdfc Bank">Hdfc Bank</option>
                  <option  value="Axis Bank">Axis Bank</option>
                  <option  value="Idfc Bank">Idfc Bank</option>
                  <option  value="Tata Finance">Tata Finance</option>
                  <option  value="Bajaj Finance">Bajaj Finance</option>
                  <option  value="Yes Bank">Yes Bank</option>
                  <option  value="ICICI Bank">ICICI Bank</option>
                </select>
                <span class="focus-border"><i></i></span>
            </div>
            <div *ngIf="(submitted || f.selected_bank.touched) && f.selected_bank.errors" class="error">
                <div [hidden]="!f.selected_bank.errors.required">select bank<small>*</small></div>
            </div>
        </div>
        </div>
        <div class="col-xl-6">
          <br>
          <br>
          <p class="l-header-hint">Do you want to be contacted by whatsApp?
            <span class="float-right">
                <label class="pure-material-radio">
                    <input type="radio" checked="checked" formControlName="via_wp" name="via_wp" value='yes'>
                    <span>Yes</span>
            </label>
        
            <label class="pure-material-radio">
                    <input type="radio" name="via_wp" formControlName="via_wp" value="no">
                    <span>No</span>
                </label>
            </span>
        </p><br>
        <div class="l-button text-right">
          <button type="button" class="btn btn-success ripple" (click)="sendHomeLoan()">Submit <i class="fas fa-paper-plane"></i></button>
      </div>
        </div>
        </div>
  </form>
</div>
  </div>
  <div class="col-md-2"></div>

</div>
<br>
<div class="row">
  <div class="col-md-12">
    <p class="l-header">Best Home Loan Offers from Top Banks/NBFCs</p>
    <table class="rwd-table">
      <tbody>
        <tr>
          <th>Banks/NBFC</th>
          <th>Institution Type</th>
          <th>Minimum Loan Amount</th>
          <th>Maximum  Loan Amount</th>
          <th>Minimum Tenure </th>
          <th>Maximum Tenure</th>
          <th>Interest Rates</th>
          <th>Interest Rates</th>
        </tr>
        <tr>
          <td data-th="Banks/NBFC">
            Axis Bank
          </td>
          <td data-th="Institution Type">
            BANK
          </td>
          <td data-th="Minimum Loan Amount">
            ₹3,00,000
          </td>
          <td data-th="Maximum  Loan Amount">
            ₹500,00,000
          </td>
          <td data-th="Minimum Tenure">
            1 Year
          </td>
          <td data-th="Maximum Tenure">
            30 years
          </td>
          <td data-th="Interest Rates">
            6.90%  - 8.55%
          </td>
          <td data-th="Interest Rates">
            Up to 1% (min of ₹10,000) + GST  as applicable
          </td>
        </tr>
        <tr>
          <td data-th="Banks/NBFC">
            Axis Bank
          </td>
          <td data-th="Institution Type">
            BANK
          </td>
          <td data-th="Minimum Loan Amount">
            ₹3,00,000
          </td>
          <td data-th="Maximum  Loan Amount">
            ₹500,00,000
          </td>
          <td data-th="Minimum Tenure">
            1 Year
          </td>
          <td data-th="Maximum Tenure">
            30 years
          </td>
          <td data-th="Interest Rates">
            6.90%  - 8.55%
          </td>
          <td data-th="Interest Rates">
            Up to 1% (min of ₹10,000) + GST  as applicable
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="quick-link-container">
      <div class="quick-link">
        <div class="background"></div>
        <a href="#">Transparency</a>
      </div>
      <div class="quick-link">
        <div class="background"></div>
        <a href="#">Excellence</a>
      </div>
      <div class="quick-link">
        <div class="background"></div>
        <a href="#">Integrity</a>
      </div>
      <div class="quick-link">
        <div class="background"></div>
        <a href="#">Trust</a>
      </div>
    
      <div class="quick-link">
        <div class="background"></div>
        <a href="#">No hidden costs</a>
      </div>
    </div>
  </div>
</div>

<!-- Doc sec -->

<div class="doc-bg">
  <p class="l-header">Documents Required</p>
<div class="row">
    <div class="col-xl-4">
      <div class="l-img-center">
        <img src="assets/images/instaLoan/Document.jpg" class="img-fluid" alt="Padholeekho Support">
    </div>
    </div>
    <div class="col-xl-8">
      <ul class="doc">
        <li>PAN Card Copy</li>
        <li>AADHAAR Card Copy</li>
        <li>Government Issued ID Card</li>
        <li>3 Months Bank Account Statement</li>
        <li>Latest Electricity/Telephone/Credit Card Bill</li>
        <li>A Valid Passport/House Lease Agreement</li>
      </ul>
    </div>
</div>
</div>
</div>