<div class="container-fluid m-p-0">
  <div class="sec-banner" [ngStyle]="{'background' : 'url(assets/images/homeloan/bg-homeloan-desktop.jpg)'}">
    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h1>insta Loan</h1>
      <h3>Quick, Simple & Easy to Apply. Disbursal in 2 Hours</h3>
      <p>* Terms & Conditions Apply</p>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="loanPanel">
    <p class="l-header">Instant Loan Enquiry</p>
    <p class="l-header-hint">Please be specific of the enquiry you want to submit in this Enquiry Form, so we can return to you
      <br>fast with the information you are looking for. Thank you!</p>
      <form name="form"  [formGroup]="enquiryForm" (keyup.enter)="enquiry()">
        <div class="row">
            <div class="col-xl-6">
                <div class="i-login">
                    <p class="label">Full Name</p>
                    <div class="i-panel">
                        <input class="input-effect" type="text" placeholder="" formControlName="name">
                        <span class="focus-border"><i></i></span>
                    </div>
                    <div *ngIf="(submitted || f.name.touched) && f.name.errors" class="error">
                        <div [hidden]="!f.name.errors.required">Full Name is required<small>*</small></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="i-login">
                    <p class="label">Email ID</p>
                    <div class="i-panel">
                        <input class="input-effect" type="text" placeholder="" formControlName="email">
                        <span class="focus-border"><i></i></span>
                    </div>
                    <div *ngIf="(submitted || f.email.touched) && f.email.errors" class="error">
                        <div [hidden]="!f.email.errors.required">Email is required<small>*</small></div>
                        <div [hidden]="!f.email.errors.email">Email must be a valid email Address.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-xl-6">
            <div class="i-login">
              <p class="label">Mobile Number</p>
              <div class="i-panel">
                  <input class="input-effect" type="number" formControlName="phone">
                  <span class="focus-border"><i></i></span>
              </div>
              <div *ngIf="(submitted || f.phone.touched) && f.phone.errors" class="error">
                  <div [hidden]="!f.phone.errors.required">Phone is required<small>*</small></div>
                  <div [hidden]="!f.phone.errors.pattern">Phone number not valid.</div>
              </div>
          </div>
          </div>
          <div class="col-xl-6">
            <div class="i-login">
              <p class="label">Loan Amount</p>
               <div class="i-panel">
                  <input class="input-effect" type="number" formControlName="amount">
                  <span class="focus-border"><i></i></span>
              </div>
              <div *ngIf="(submitted || f.amount.touched) && f.amount.errors" class="error">
                  <div [hidden]="!f.amount.errors.required">Please enter amount<small>*</small></div>
              </div>
          </div>
          </div>
          </div>
  
          <div class="row">
            <div class="col-xl-6">
              <div class="i-login">
                <p class="label">Official Email ID</p>
                <div class="i-panel">
                    <input class="input-effect" type="text" placeholder="" formControlName="officialemail">
                    <span class="focus-border"><i></i></span>
                </div>
                <div *ngIf="(submitted || f.officialemail.touched) && f.officialemail.errors" class="error">
                    <div [hidden]="!f.officialemail.errors.required">Email is required<small>*</small></div>
                    <div [hidden]="!f.officialemail.errors.officialemail">Email must be a valid email Address.</div>
                </div>
            </div>
            </div>
            <div class="col-xl-6">
              <div class="i-login">
                <p class="label">Pan Number</p>
                <div class="i-panel">
                    <input class="input-effect" type="text" formControlName="pan">
                    <span class="focus-border"><i></i></span>
                </div>
                <div *ngIf="(submitted || f.pan.touched) && f.pan.errors" class="error">
                    <div [hidden]="!f.pan.errors.required">Pan is required<small>*</small></div>
                    <div [hidden]="!f.pan.errors.pattern">Pan number not valid.</div>
                </div>
            </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-xl-6">
              <div class="i-login">
                <p class="label">Net Salary</p>
                <div class="i-panel">
                    <input class="input-effect" type="number" formControlName="salary">
                    <span class="focus-border"><i></i></span>
                </div>
                <div *ngIf="(submitted || f.salary.touched) && f.salary.errors" class="error">
                    <div [hidden]="!f.salary.errors.required">Salary is required<small>*</small></div>
                    <div [hidden]="!f.salary.errors.pattern">Salary number not valid.</div>
                </div>
            </div>
            </div>
            <div class="col-xl-6">
              <div class="i-login">
                <p class="label">Location</p>
                <div class="i-panel">
                    <input class="input-effect" type="text" placeholder="" formControlName="location">
                    <span class="focus-border"><i></i></span>
                </div>
                <div *ngIf="(submitted || f.location.touched) && f.location.errors" class="error">
                    <div [hidden]="!f.location.errors.required">Location Name is required<small>*</small></div>
                </div>
            </div>
            </div>
          </div>
  
        <div class="row">
          <div class="col-xl-6">
            <div class="i-login">
              <p class="label">Select Bank</p>
              <div class="i-panel">
                  <select class="form-control drop-d input-effect"  formControlName="selected_bank">
                    <option value="">Select</option>
                    <option  value="Hdfc Bank">Hdfc Bank</option>
                    <option  value="Axis Bank">Axis Bank</option>
                    <option  value="Idfc Bank">Idfc Bank</option>
                    <option  value="Tata Finance">Tata Finance</option>
                    <option  value="Bajaj Finance">Bajaj Finance</option>
                    <option  value="Yes Bank">Yes Bank</option>
                    <option  value="ICICI Bank">ICICI Bank</option>
                  </select>
                  <span class="focus-border"><i></i></span>
              </div>
              <div *ngIf="(submitted || f.selected_bank.touched) && f.selected_bank.errors" class="error">
                  <div [hidden]="!f.selected_bank.errors.required">select bank<small>*</small></div>
              </div>
          </div>
          </div>
          <div class="col-xl-6">
            <div class="i-login">
              <p class="label">Company Name</p>
              <div class="i-panel">
                  <input class="input-effect" type="text" placeholder="" formControlName="company_name">
                  <span class="focus-border"><i></i></span>
              </div>
              <div *ngIf="(submitted || f.company_name.touched) && f.company_name.errors" class="error">
                  <div [hidden]="!f.company_name.errors.required">Company name is required<small>*</small></div>
              </div>
          </div>
          </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xl-6"></div>
            <div class="col-xl-6">
              <div class="l-button text-right">
                <button type="button" class="btn btn-success ripple" (click)="sendInstaLoan()">Submit <i class="fas fa-paper-plane"></i></button>
            </div>
            </div>
            </div>
    </form>
</div>
  </div>
  <div class="col-md-2"></div>

</div>
<br>
<div class="container-fluid">
  <div class="doc-bg">
    <p class="l-header">Documents Required</p>
  <div class="row">
      <div class="col-xl-4">
        <div class="l-img-center">
          <img src="assets/images/instaLoan/Document.jpg" class="img-fluid" alt="Padholeekho Support">
      </div>
      </div>
      <div class="col-xl-8">
        <ul class="doc">
          <li>PAN Card Copy</li>
          <li>AADHAAR Card Copy</li>
          <li>Government Issued ID Card</li>
          <li>3 Months Bank Account Statement</li>
          <li>Latest Electricity/Telephone/Credit Card Bill</li>
          <li>A Valid Passport/House Lease Agreement</li>
        </ul>
      </div>
  </div>
</div>
<div class="emi-box">
  <br>
  <h2 class="text-center">How much are you looking for?</h2>
  <br><br>
  <app-loan-emi-calculator></app-loan-emi-calculator>
</div>
</div>

<div class="arrow-section">
  <h2 class="">How our instant loan works</h2>
  <div class="arrow-area">
    <!--single arrow-->
    <div class="single-arrow">
      <div class="arrow-num"><svg width="23" height="24" viewBox="0 0 23 24">
        <g fill="none" fill-rule="evenodd">
            <path fill="#FFF" d="M0 4.8V24h15.2V4.8H0zm8 12H4a.8.8 0 1 1 0-1.6h4a.8.8 0 1 1 0 1.6zm3.2-3.2H4A.8.8 0 1 1 4 12h7.2a.8.8 0 1 1 0 1.6zm0-4H4A.8.8 0 1 1 4 8h7.2a.8.8 0 1 1 0 1.6z"></path>
            <path fill="#F6BC25" fill-rule="nonzero" d="M3.2 0v3.2h13.6V24h5.6V0z"></path>
        </g>
    </svg></div>
      <div class="arrow-content">
        <h3>Fill in the application</h3>
      </div>
      </div>
      <!--single arrow-->
    <div class="single-arrow">
      <div class="arrow-num"><svg width="26" height="24" viewBox="0 0 26 24">
        <g fill="none" fill-rule="evenodd">
            <path fill="#F6BC25" fill-rule="nonzero" d="M11.143 0h3.428v5.143h-3.428z"></path>
            <path fill="#fff" d="M16.286 2.571v4.286H9.429V2.571H0V24h25.714V2.571h-9.428zm-2.572 18H3.43s.042-1.842 1.628-2.185c1.586-.343 1.8-1.029 1.8-1.415v-.642a3.986 3.986 0 0 1-1.286-2.958v-1.928a2.914 2.914 0 0 1 3-2.872 2.914 2.914 0 0 1 2.958 2.872v1.928a3.986 3.986 0 0 1-1.243 2.958v.642c0 .386 0 1.029 1.714 1.415a2.186 2.186 0 0 1 1.714 2.185zm7.715-3.428h-6a.857.857 0 1 1 0-1.714h6a.857.857 0 0 1 0 1.714zm-6.858-4.286c0-.473.384-.857.858-.857h4.285a.857.857 0 0 1 0 1.714H15.43a.857.857 0 0 1-.858-.857zm7.715-2.571h-6.857a.857.857 0 0 1 0-1.715h6.857a.857.857 0 0 1 0 1.715z"></path>
        </g>
    </svg></div>
      <div class="arrow-content">
        <h3>Share your documents</h3>
      </div>
      </div>
      <!--single arrow-->
    <div class="single-arrow">
      <div class="arrow-num"><svg width="24" height="26" viewBox="0 0 24 26">
        <g fill="none" fill-rule="evenodd">
            <circle cx="11.578" cy="14.333" r="1" fill="#9C91F2" fill-rule="nonzero"></circle>
            <path fill="#FFF" d="M11.747 3.25C5.464 3.25.372 8.343.372 14.625S5.464 26 11.747 26c6.282 0 11.375-5.093 11.375-11.375S18.029 3.25 11.747 3.25zm.44 13.01v2.366a.61.61 0 0 1-1.218 0v-2.365a2.017 2.017 0 0 1 0-3.855v-6.92a.61.61 0 0 1 1.219 0v6.92a2.017 2.017 0 0 1 0 3.854z"></path>
            <path fill="#F6BC25" fill-rule="nonzero" d="M13 2.502V.442a.426.426 0 0 0-.406-.44h-2.438a.426.426 0 0 0-.406.44v2.162A12.147 12.147 0 0 1 13 2.5zm7.469 3.623l.786-.786.73.731a.406.406 0 0 0 .575 0l1.016-1.015a.406.406 0 0 0 0-.575l-2.609-2.61a.406.406 0 0 0-.574 0l-1.016 1.015a.406.406 0 0 0 0 .575l.732.731-.853.847c.428.336.833.699 1.213 1.088z"></path>
        </g>
    </svg></div>
      <div class="arrow-content">
        <h3>Receive an approval in 20 minutes!</h3>
      </div>
      </div>
      <!--single arrow-->
    <div class="single-arrow">
      <div class="arrow-num"><svg width="27" height="24" viewBox="0 0 27 24">
        <g fill="none" fill-rule="evenodd">
            <path fill="#fff" d="M20.267 10.667h-19.2c-.59 0-1.067.477-1.067 1.066v11.2A1.067 1.067 0 0 0 1.067 24h19.2c.589 0 1.066-.478 1.066-1.067v-11.2c0-.589-.477-1.066-1.066-1.066zM4.444 21.333h-.888a.889.889 0 1 1 0-1.777h.888a.889.889 0 1 1 0 1.777zm4.445 0H8a.889.889 0 1 1 0-1.777h.889a.889.889 0 1 1 0 1.777zm.889-3.555H3.556a.889.889 0 1 1 0-1.778h6.222a.889.889 0 1 1 0 1.778zm3.555 3.555h-.889a.889.889 0 0 1 0-1.777h.89a.889.889 0 1 1 0 1.777zm4.445 0h-.89a.889.889 0 1 1 0-1.777h.89a.889.889 0 1 1 0 1.777zm0-6.222H15.11a.889.889 0 1 1 0-1.778h2.667a.889.889 0 1 1 0 1.778z"></path>
            <path fill="#F6BC25" fill-rule="nonzero" d="M26.622 11.378L22.756.71a1.067 1.067 0 0 0-1.378-.62l-18 6.533A1.067 1.067 0 0 0 2.756 8l.31.889H4.89l18.4-6.711.622 1.689L10.09 8.889h10.178a2.844 2.844 0 0 1 2.844 2.844v2.045l2.845-1.022a1.067 1.067 0 0 0 .666-1.378zM22.178 7.51l-2 .711h-.311a.889.889 0 0 1-.311-1.733l2-.711a.9.9 0 0 1 .622 1.689v.044z"></path>
        </g>
    </svg></div>
      <div class="arrow-content">
        <h3>Receive to your account in 30 minutes</h3>
      </div>
      </div>
   </div>
    </div>
</div>