<footer class="mainfooter">
  <div class="mainfooter">
      <div class="container">
          <div class="row">
              <div class="col-md-4 ">
                  <!--Column1-->
                  <div>
                      <p><i class="fas fa-map-marker-alt footer-fa"></i> 4th Cross, 1st Main Rd, Talacauvery
                          Layout,Basavanagara, Bengaluru, Karnataka 560037</p>
                      <p>And</p>
                      <p><i class="fas fa-map-marker-alt footer-fa"></i> #761, Sri Sai Ram Mansion, Above Andhra Bank,
                          Marathahalli, Bengalure, Karnataka 560037</p>
                  </div>
              </div>
              <div class="col-md-4 ">
                  <!--Column2-->
                  <div class="footer-pad">
                      <p><i class="fas fa-envelope footer-fa"></i> enquiry@vfs.com</p>
                      <p class="mob-p"><i class="fas fa-mobile footer-fa"></i>+91 9916 124 600 </p>
                      <p class="mob-p"><i class="fab fa-whatsapp-square footer-fa"></i>+91 7483 238 060</p>
                  </div>
              </div>
              <div class="col-md-4 text-center">
                  <!--Column3-->
                  <div class="ccavenue">
                      <img src="assets/images/Logo/logo1.jpg" class="img-fluid" alt="logo">
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row social-row">
              <div class="col-md-4 col-4">
                  <hr class="hr-social">
              </div>
              <div class="col-md-4 col-4 text-center" style="padding: 0">
                  <a href="#" target="_blank" class="btn-social btn-facebook"><i
                          class="fab fa-facebook-f"></i></a>
                  <a href="#" target="_blank"
                      class="btn-social btn-youtube"><i class="fab fa-youtube"></i></a>
                  <a href="#" target="_blank"
                      class="btn-social btn-linkedin"><i class="fab fa-linkedin-in"></i></a>
                  <a href="#" target="_blank" class="btn-social btn-insta"><i
                          class="fab fa-instagram"></i></a>
                  <a href="#" target="_blank" class="btn-social btn-twitter"><i
                          class="fab fa-twitter"></i></a>
                  <a href="#" target="_blank"
                      class="btn-social btn-quora"><i class="fab fa-quora"></i></a>
              </div>
              <div class="col-md-4 col-4">
                  <hr class="hr-social">
              </div>
          </div>
      </div>
      <hr class="footer-hr">
      <div class="container">
          <div class="row">
              <div class="col-md-7">
                  <p class="text-left copy">All right received ©2023 VFS FINANCIAL SERVICES.
                  </p>
              </div>
              <div class="col-md-5">
                  <p class="footer-links text-right">
                      <a (click)="routeFunc('about/terms-and-conditions')" class="link-1">T &#38; C</a>

                      <a (click)="routeFunc('about/privacy-policy')">Privacy &#38; Policy</a>

                      <!-- <a (click)="routeFunc('refund')">Refund</a> -->

                      <a (click)="routeFunc('/about')">About Us</a>

                      <!-- <a>Blog</a> -->
                  </p>
              </div>
          </div>
      </div>
  </div>
</footer>

<button class="gotop" *ngIf="isShow" (click)="gotoTop()">
  <img src="assets/images/footer/up.png" class="img-fluid bounce" alt="up">
</button>