<div class="about-section-two" [ngStyle]="{'background' : 'url(./assets/images/partner/bg2.png)'}">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="left-col">
                  <h2>
                        Our <span> Banking Partners</span>
                  </h2>
                  <div class="row">
                      <div col-md-3>
                          <img src="assets/images/partner/1.png" class="img-fluid partnerimage" alt="vfs partoner">
                      </div>
                      <div col-md-3>
                          <img src="assets/images/partner/2.png" class="img-fluid partnerimage" alt="vfs partoner">
                      </div>
                      <div col-md-3>
                          <img src="assets/images/partner/3.png" class="img-fluid partnerimage" alt="vfs partoner">
                      </div>
                      <div col-md-3>
                          <img src="assets/images/partner/4.png" class="img-fluid partnerimage" alt="vfs partoner">
                      </div>
                  </div>
                  <br>
                  <div class="row">
                    <div col-md-3>
                        <img src="assets/images/partner/5.png" class="img-fluid partnerimage" alt="vfs partoner">
                    </div>
                    <div col-md-3>
                        <img src="assets/images/partner/6.png" class="img-fluid partnerimage" alt="vfs partoner">
                    </div>
                    <div col-md-3>
                        <img src="assets/images/partner/7.png" class="img-fluid partnerimage" alt="vfs partoner">
                    </div>
                    <div col-md-3>
                        <img src="assets/images/partner/8.png" class="img-fluid partnerimage" alt="vfs partoner">
                    </div>
                </div>
              </div>
      </div>
  </div>
</div>