<!-- <div class="about-section-two" [ngStyle]="{'background' : 'url(./assets/images/partner/bg_imgdots.png)'}"> -->
<div class="about-section-two">
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <div class="left-col">
                  <h2>
                        Our <span> Banking Partners</span>
                  </h2>
                  <div id="gallery-container">
                    <div class="gallery-items">
                        <img src="assets/images/partner/1.png" class="img-fluid partnerimage" alt="umaloan Partners">
                    </div>
                    <div class="gallery-items">
                        <img src="assets/images/partner/2.png" class="img-fluid partnerimage" alt="umaloan Partners">
                    </div>
                    <div class="gallery-items">
                        <img src="assets/images/partner/3.png" class="img-fluid partnerimage" alt="umaloan Partners">
                    </div>
                    <div class="gallery-items">
                        <img src="assets/images/partner/4.png" class="img-fluid partnerimage" alt="umaloan Partners">
                    </div>
                    <div class="gallery-items">
                        <img src="assets/images/partner/5.png" class="img-fluid partnerimage" alt="umaloan Partners">
                    </div>
                    <div class="gallery-items">
                        <img src="assets/images/partner/6.png" class="img-fluid partnerimage" alt="umaloan Partners">
                    </div>
                    <div class="gallery-items">
                        <img src="assets/images/partner/7.png" class="img-fluid partnerimage" alt="umaloan Partners">
                    </div>
                    <div class="gallery-items">
                        <img src="assets/images/partner/8.png" class="img-fluid partnerimage" alt="umaloan Partners">
                    </div>
                    <div class="gallery-items">
                        <img src="assets/images/partner/9.jpg" class="img-fluid partnerimage" alt="umaloan Partners">
                    </div>
                    <div class="gallery-items">
                        <img src="assets/images/partner/10.jpg" class="img-fluid partnerimage" alt="umaloan Partners">
                    </div>
                    <div class="gallery-items">
                        <img src="assets/images/partner/11.png" class="img-fluid partnerimage" alt="umaloan Partners">
                    </div>
                  
                  </div>
              </div>
      </div>
      <div class="col-md-4 frame">
        <img src="assets/images/partner/partners.PNG" class="img-fluid" alt="umaloan Partners">
      </div>
  </div>
</div>